---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

![alt](/Users/wh/Dropbox (Personal)/wh_web/hewei8622.github.io/images/foo-bar-identity.jpg "A cute kitten")

<!--{% if site.talkmap_link == true %}-->

<!--&lt;!&ndash;<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>&ndash;&gt;-->

<!--{% endif %}-->

<!--{% for post in site.talks reversed %}-->
  <!--{% include archive-single-talk.html %}-->
<!--{% endfor %}-->
